@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root {
   --main-font: 'Pretendard', sans-serif;
   --sub-font: "Nanum Myeongjo", serif;
   --BG: #F6F5F1;
   --main-Orange: #FF6528;
   --sub-Green: #3FAB00;
}

html {
   scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}

body {
   font-family: 'Pretendard', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   color: #111111;
   overflow-x: hidden;
   -ms-overflow-style: none;
}

#wrap {
   margin: 0 auto;
   /* background: #F6F5F1; */
}

#header {
   z-index: 1000;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   box-sizing: border-box;
}

.header-inner {
   max-width: 1360px;
   margin: 0 auto;
   display: flex;
   height: 70px;
   justify-content: space-between;
   align-items: center;
   padding: 0 16px;
   box-sizing: border-box;
}

.header-inner h1 a img {
   display: block;
}

.gnb ul {
   display: flex;
   gap: 16px;
}

.gnb ul li a {
   padding: 0 10px;
   color: #fff;
   font-weight: 300;
   font-size: 1.6rem;
}

.gnb ul li a:hover {
   font-weight: 500;
}

@media (max-width: 767px) {
   #header {
      width: 100vw;
   }

   .header-inner {
      width: 100vw;
      max-width: 100%;
      overflow-x: hidden;
   }

   .header-inner h1 {
      margin: 0;
   }

   .gnb {
      display: none;
   }
}


#main {
   width: 100%;
   height: 100vh;
   background: url(../img/bg-main01.jpg) no-repeat top / cover;
   position: relative;
}

.main-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.main-text h2 {
   color: #fff;
   font-size: 4rem;
   font-family: var(--sub-font);
   transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
   .main-text {
      width: 250px;
   }

   .main-text h2 {
      font-size: 2.4rem;
   }
}

.inquiry {
   position: fixed;
   bottom: -100%;
   width: 100%;
   background-color: #010101;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
   z-index: 1000;
   padding: 30px 300px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   transition: bottom 0.8s ease;
   box-sizing: border-box;
   overflow-x: hidden;
   max-width: 100vw;
   /* 추가 */
}

/* 보여지는 상태 */
.inquiry.show {
   bottom: 0;
}

.inquiry-logo img {
   height: 74px;
}


.inquiry-content {
   display: flex;
   flex: 1;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
   max-width: 100%;
}

.inquiry-form {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
}

.input-row {
   display: flex;
   gap: 30px;
   width: 100%;
}

.input-row input {
   background: transparent;
   border: none;
   border-bottom: 1px solid #fff;
   padding: 8px 4px;
   color: #fff;
   font-size: 1.4rem;
   width: 100%;
}

.inquiry-form textarea {
   background: transparent;
   border: none;
   border-bottom: 1px solid #fff;
   padding: 8px 4px;
   color: #fff;
   font-size: 1.4rem;
   resize: none;
   height: 40px;
   font-family: 'Pretendard';
}

.inquiry-right {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 10px;
   margin-left: 20px;
   min-width: auto;
   flex-shrink: 0;
}

.inquiry-btn button {
   display: block;
   background: #fff;
   width: 180px;
   height: 52px;
   font-size: 1.8rem;
   color: #bb0000;
   border: 2px solid #bb0000;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
}

.checkboxes {
   display: flex;
   flex-direction: column;
   gap: 6px;
   font-size: 1.3rem;
   color: #fff;
}

/* input, textarea placeholder 색상도 보이게 */
.inquiry-form input::placeholder,
.inquiry-form textarea::placeholder {
   color: #aaa;
}

@media (max-width: 1400px) {
   .inquiry {
   padding: 30px 200px;
   }
}

@media (max-width: 1200px) {
   .inquiry {
   padding: 30px 80px;
   }
}

@media (max-width: 767px) {
   .inquiry {
      padding: 30px 24px;
   }

   .inquiry-logo {
      display: none;
   }

   .inquiry-content {
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
   }

   .inquiry-form input,
   .inquiry-form textarea {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      outline: none;
   }

   .input-row {
      gap: 10px;
      width: 100%;
   }

   .inquiry-right {
      width: 100%;
      margin-left: 0;
      align-items: center;
   }

   .inquiry-btn {
      width: 100%;
   }

   .inquiry-btn button {
      width: 100%;
   }

   .checkboxes {
      font-size: 1rem;
      width: 100%;
      flex-direction: row;
   }
}


#intro {
   width: 100%;
   height: 600px;
   background: url(../img/bg-intro.png) no-repeat center / cover;
   position: relative;
}

.intro-wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
}

.intro-text span {
   color: rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
   font-weight: 600;
}

.intro-text h2 {
   font-size: 4rem;
   font-weight: 600;
   padding: 14px;
}

.intro-text p {
   font-size: 2rem;
   font-weight: 300;
}

@media (max-width: 767px) {
   #intro {
      height: 460px;
   }

   .intro-text {
      width: 250px;
   }

   .intro-text br {
      display: none;
   }

   .intro-text span {
      font-style: 1.4rem;
   }

   .intro-text h2 {
      font-size: 2.4rem;
   }

   .intro-text p {
      font-size: 1.6rem;
   }
}


#story {
   width: 100%;
   background-color: #FAF8EC;
   padding: 200px 0 0;
   position: relative;
   justify-content: center;
}

.story-bgimg {
   position: absolute;
   top: 80px;
   right: 80px;
}

.story-title {
   text-align: center;
}

.story-title span {
   color: rgba(167, 22, 18, 0.5);
   text-transform: uppercase;
   font-weight: 600;
}

.story-title h2 {
   font-size: 4rem;
   font-weight: 600;
}

.story-list {
   width: 1000px;
   margin: 0 auto;
}

.story-list img {
   border-radius: 16px;
}

.story-list li {
   display: flex;
   gap: 80px;
   padding: 80px 0;
   align-items: center;
}

.story-text h3 {
   font-size: 3rem;
   font-weight: 700;
   padding-bottom: 30px;
}

.story-text h3+p {
   font-size: 2rem;
   font-weight: 300;
}

@media (max-width: 767px) {
   #story {
      padding: 120px 0 0;
   }

   .story-title {
      width: 280px;
      margin: 0 auto;
   }

   .story-title span {
      font-size: 1.6rem;
   }

   .story-title h2 {
      font-size: 2.4rem;
   }

   .story-list img {
      width: 315px;
   }

   .story-text h3 {
      font-size: 2.4rem;
   }

   .story-text h3+p {
      font-size: 1.6rem;
   }

   .story-list li {
      width: 315px;
      margin: 0 auto;
      gap: 40px;
      padding: 50px 0;
   }

   .story-list li:nth-child(2) .story-text {
      order: 2;
   }

   .story-list li:nth-child(2) img {
      order: 1;
   }
}

.story-hook {
   width: 100%;
   height: 460px;
   background: url(../img/story-hook.png) no-repeat center / cover;
   position: relative;
   text-align: center;
   color: #fff;
}

.story-hook-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.story-hook-box p {
   font-size: 2.4rem;
   line-height: 1.8;
   font-family: var(--sub-font);
}

@media (max-width: 767px) {
   .story-hook-box {
      width: 270px;
   }

   .story-hook-box p {
      font-size: 1.5rem;
   }

   .story-hook-box p br {
      display: none;
   }
}



#menu {
   background-color: #fff;
   width: 100%;
}

.menu-list {
   display: flex;
   justify-content: center;
   padding: 0;
   margin: 0;
   width: 100%;
}

.menu-item {
   position: relative;
   overflow: hidden;
   width: calc(100% / 3);
   cursor: pointer;
}

.menu-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: transform 0.3s ease;
}

.menu-overlay {
   position: absolute;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.menu-border-box {
   width: calc(100% - 40px);
   height: calc(100% - 40px);
   padding: 40px;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.menu-text {
   color: #fff;
   text-align: center;
}

.menu-text h3 {
   font-size: 3.6rem;
   font-weight: bold;
}

.menu-text p {
   font-size: 2.4rem;
   margin-bottom: 16px;
}

.menu-text span {
   font-size: 1.8rem;
   line-height: 1.4;
}

/* Hover 효과 */
.menu-item:hover img {
   transform: scale(1.05);
}

.menu-item:hover .menu-overlay {
   opacity: 1;
}

@media (max-width: 767px) {
   .menu-item img {
      height: 360px;
   }
}


#interior {
   width: 100%;
   background: url(../img/bg-interior.png) no-repeat center / cover;
   padding: 140px 0;
   color: #fff;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.interior-title {
   padding-left: calc(100% - 85%);
}

.interior-title span {
   font-size: 1.8rem;
   color: #aaa;
   text-transform: uppercase;
}

.interior-title h3 {
   font-size: 3.6rem;
   margin: 10px 0;
   font-weight: bold;
}

.interior-title h3 br {
   display: none;
}

.interior-title p {
   font-size: 1.6rem;
   color: #ccc;
   line-height: 1.6;
}

@media (max-width: 767px) {
   #interior {
      padding: 100px 0;
   }

   .interior-title span {
      font-size: 1.4rem;
   }

   .interior-title h3 {
      font-size: 2.4rem;
   }

   .interior-title h3 br {
      display: block;
   }

   .interior-title p {
      font-size: 1.5rem;
   }

   .interior-title p br {
      display: none;
   }
}

.interior-swiper-container {
   padding-left: calc(100% - 85%);
   width: 100%;
}

.interior-swiper {
   padding-bottom: 30px;
}

.interior-swiper .swiper-wrapper {
   display: flex;
}

.interior-swiper .swiper-slide {
   width: 559px;
   flex-shrink: 0;
   border-radius: 12px;
}

.interior-swiper .swiper-slide img {
   width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
   border-radius: 12px;
}

.interior-swiper .swiper-scrollbar {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 4px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 2px;
}

.interior-swiper .swiper-scrollbar-drag {
   background: rgba(250, 248, 236, 0.2);
   border-radius: 2px;
}


#reservation {
   width: 100%;
   background: #fff;
   padding: 140px 0;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.res-title {
   padding-left: calc(100% - 85%);
}

.res-title span {
   font-size: 1.8rem;
   color: #aaa;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.res-title h3 {
   font-size: 3.6rem;
   margin: 10px 0;
   font-weight: bold;
}

.res-title p {
   font-size: 1.6rem;
   line-height: 1.6;
}

@media (max-width: 767px) {
   #reservation {
      padding: 80px 0;
   }

   .res-title span {
      font-size: 1.4rem;
   }

   .res-title h3 {
      font-size: 2.4rem;
   }

   .res-title p {
      font-size: 1.5rem;
   }
}

.res-swiper-container {
   padding-left: calc(100% - 85%);
   width: 100%;
}

.res-swiper {
   padding-bottom: 30px;
}

.res-swiper .swiper-wrapper {
   display: flex;
}

.res-swiper .swiper-slide {
   width: 315px;
   height: 494px;
   flex-shrink: 0;
   border: 1px solid #F8F8F8;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
}

.res-swiper .swiper-slide:last-child {
   margin-right: 40px;
}

.res-swiper .swiper-slide img {
   width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
}

.store-info {
   background: #fff;
   padding: 20px 30px;
}

.store-info h4 {
   font-size: 2.4rem;
   font-weight: 700;
   margin-bottom: 8px;
}

.naver-btn {
   margin-top: 20px;
   display: block;
   width: 100%;
   height: 50px;
   border-radius: 100px;
   border: 1px solid #00AA00;
   text-align: center;
   line-height: 50px;
   color: #00AA00;
   font-weight: 600;
   transition: all 0.25s;
}

.naver-btn:hover {
   background: #00AA00;
   border: 1px solid #00AA00;
   color: #fff;
   font-weight: 600;
}


.footer {
   background-color: #003C2E;
   color: #ccc;
   padding: 60px 0 220px;
   font-size: 14px;
}

.footer-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   flex-wrap: wrap;
}

.footer-left {
   display: flex;
   align-items: flex-start;
   gap: 40px;
}

.footer-logo {
   width: 100px;
   height: auto;
}

.footer-text p {
   font-size: 1.6rem;
   margin: 3px 0;
   line-height: 1.4;
}

.footer-text .copyright {
   margin-top: 16px;
   font-size: 1.4rem;
   color: rgba(255, 255, 255, 0.4);
}

.footer-right {
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-logo-right {
   width: 220px;
   height: auto;
   opacity: 0.6;
}

@media (max-width: 767px) {
   .footer {
      padding: 60px 0 300px;
   }

   .footer-text p {
      font-size: 1.4rem;
   }

   .footer-text .copyright {
      font-size: 1.2rem;
   }

   .footer-left {
      flex-direction: column;
   }

   .footer-right {
      display: none;
   }
}

#toTopBtn {
   display: block;
   position: fixed;
   bottom: 55px;
   right: 80px;
   z-index: 9999;
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
}

#toTopBtn img {
   width: 50px;
   /* 이미지 크기 조절 */
   height: auto;
}

/* 모바일 (최대 767px) */
@media (max-width: 767px) {
   .header-inner {
      flex-direction: column;
      height: auto;
      padding: 10px;
   }

   .gnb ul {
      flex-direction: column;
      gap: 10px;
   }

   .main-text h2 {
      font-size: 2.4rem;
   }

   .intro-text h2 {
      font-size: 2.8rem;
   }

   .intro-text p {
      font-size: 1.6rem;
   }

   .story-title h2,
   .menu-text h3,
   .interior-title h3,
   .res-title h3 {
      font-size: 2.8rem;
   }

   .story-list {
      width: 100%;
      padding: 0 20px;
   }

   .story-list li {
      flex-direction: column;
      gap: 30px;
   }

   .story-hook-box p {
      font-size: 1.8rem;
   }

   .menu-list {
      flex-direction: column;
   }

   .menu-item {
      width: 100%;
   }

   .interior-title,
   .interior-swiper-container,
   .res-title,
   .res-swiper-container {
      padding-left: 20px;
      padding-right: 20px;
   }

   .interior-swiper .swiper-slide {
      width: 100%;
   }

   .res-swiper .swiper-slide {
      width: 90%;
      margin-right: 10px;
   }

   .footer-inner {
      flex-direction: column;
      gap: 20px;
   }

   #toTopBtn {
      display: none;
   }
}
